.primary{
    width: 148px;
    height: 35px;

    background: var(--primary);
    border: 1px solid var(--white);
    border-radius: 5px;

    font-weight: 400;
    font-size: 14px;
    color: var(--white);
    transition:  .3s ease-in-out;
    cursor: pointer;

    &:hover {
        background: var(--primary-hover);
    }

    &.ghost{
        position: relative;
        background: var(--white);
        color: var(--black);
        border: 1px solid var(--gray-light);

        &:hover {
            background: var(--primary-hover);
            color: var(--white);
        }
    }
}

.primary svg,
.ghost:hover svg {
    fill: var(--white);
}
.ghost svg {
    fill: var(--black);
}

.arrow {
    display: inline-block;

    padding-top: 2px;
    margin-left: 10px;
    transition: transform .3s ease-in;
}

.down {
    transform: rotate(90deg);
}