.tag{
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    margin-right: 15px;
}

.s {
    padding: 5px 12px;
    line-height: 12px;
    font-size: 12px;
}

.m {
    padding: 5px 12px;
    line-height: 14px;
    font-size: 14px;
}

.grey {
    font-weight: 600;
    background: #B3C0D9;
    color: var(--white);
}
.ghost {
    font-weight: 500;
    color: var(--black);
    border: 1px solid #EBEBEB;
}
.red {
    font-weight: 600;
    background: #DE0000;
    color: var(--white);
}
.primary{
    font-weight: 500;
    color: var(--primary);
    border: 1px solid var(--primary);
}
.green{
    font-weight: 700;
    color: #1DC47E;
    background: #C8F8E4;
}
