:root {
    --black: #3B434E;
    --gray-light: #EBEBEB;
    --white: #FFFFFF;
    --primary: #7653FC;
    --primary-hover: #502fd2;
    --red: #FC836D;
    --green: #1DC37E;
    --green-light: #C8F8E4;
    --font-family: 'Noto Sans', sans-serif

}

html,
body {
	padding: 0;
	margin: 0;
    color: var(--black);
    //background: #E5E5E5;
    
	font-family: 'Noto Sans', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}


